<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Maydecor AR Testing</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, user-scalable=no"
    />
    <link type="text/css" rel="stylesheet" href="/css/model-style.css" />
    <style>
      a {
        color: #f00;
      }
    </style>
    <script
      type="module"
      src="https://ajax.googleapis.com/ajax/libs/model-viewer/3.3.0/model-viewer.min.js"
    ></script>
  </head>
  <body>
    <model-viewer
      camera-controls
      shadow-intensity="1"
      touch-action="pan-y"
      id="model-viewer"
      ar
      ar-modes="scene-viewer webxr quick-look"
      ar-placement="floor"
    >
      <div id="error" class="hide">AR is not supported on this device</div>
      <div class="placement-switch-container">
        <h3 style="color: #777; font-weight: 400">Placement</h3>
        <input
          type="radio"
          id="floor"
          name="placement_radio"
          value="floor"
          checked="checked"
          onclick="onSwitchPlacement(this);"
        />
          <label for="floor" style="color: #777777">Floor</label><br />

        <input
          type="radio"
          id="wall"
          name="placement_radio"
          value="wall"
          onclick="onSwitchPlacement(this);"
        />
          <label for="wall" style="color: #777777">Wall</label><br />
      </div>
      <button slot="ar-button" class="ar-btn">VEIW IN ROOM</button>

      <div class="slider">
        <!--         <h3 style="color: #777; font-weight: 400; margin: 0;">Select Material</h3> -->
        <div class="slides">
          <% models.forEach((model, index) => { %>
            <button
              class="slide"
              onclick="selectMaterial('<%= model %>')"
            ><h1><%= index + 1 %></h1></button>
          <% }); %>

          <!-- <button
            id="button1"
            class="slide"
            onclick="changeMaterial(this, '1')"
          ></button
          ><button
            id="button2"
            class="slide"
            onclick="changeMaterial(this, '2')"
          ></button
          ><button
            id="button3"
            class="slide"
            onclick="changeMaterial(this, '3')"
          ></button
          ><button
            id="button4"
            class="slide"
            onclick="changeMaterial(this, '4')"
          ></button> -->
        </div>
      </div>
    </model-viewer>

    <script>
        // let id = window.location.href.split('/').reverse()[0];
// console.log(id)


const model_viewer = document.getElementById("model-viewer");
const modelUrl =
  "http://localhost:3000/model-assets/lazy chair-686/lazy_chair-686-00.glb";
model_viewer.src = modelUrl;

// Define an array of the model URLs
const modelUrls = [
  "https://cdn.glitch.global/3305a40c-4fb7-49c5-ba5c-4c7d81baf915/sofa2.glb?v=1700223607133",
  "https://cdn.glitch.me/3305a40c-4fb7-49c5-ba5c-4c7d81baf915/sofa1.glb?v=1702545778976",
  "https://cdn.glitch.global/3305a40c-4fb7-49c5-ba5c-4c7d81baf915/sofa3.glb?v=1700224656829",
  "https://cdn.glitch.me/3305a40c-4fb7-49c5-ba5c-4c7d81baf915/sofa4.glb?v=1702547169620",
];

// HANDLE AR COMPACTIBILITY
document
  .querySelector("#model-viewer")
  .addEventListener("ar-status", (event) => {
    if (event.detail.status === "failed") {
      const error = document.querySelector("#error");
      error.classList.remove("hide");
      error.addEventListener("transitionend", (event) => {
        error.classList.add("hide");
      });
    }
  });
// HANDLE PLACMENT CHANGES
function onSwitchPlacement(radBtn) {
  model_viewer.setAttribute("ar-placement", radBtn.value);
}

// SELECT ALL MATERIAL SWITCH BUTTONS
const materialBtns = document.querySelectorAll(".slide");
// ON MATERIAL CHANGE
function changeMaterial(selectedBtn, value) {
  console.log(value);
  materialBtns.forEach((btn) => btn.classList.remove("selected"));
  selectedBtn.classList.add("selected");

  // change the model URL
  model_viewer.src = modelUrls[value - 1];
}

function selectMaterial(selectedModel) {
  console.log(selectedModel)
  // change the model URL
  model_viewer.src = selectedModel;
}

    </script>
  </body>
</html>
